<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="container">
        <h1>樂透資訊網</h1>
        <form action="/stock">
            <button type="submit">更新</button>
        </form>
        {% for name,values in lotterys.items() %}
        <div class="lottery-block">
            <p class="name">{{name}}</p>
            <p class="date">{{value.0}}</p>
            <p class="ball">{{value.1}}</p>



        </div>

</body>

</html>