<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PM2.5即時資訊</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</head>

<body>
    <h1>PM2.5即時資訊</h1>
    <form action="/pm25">
        <input type="checkbox" name="sort" id="sort" {% if sort %}checked{% endif %}>排序
        <button type="submit">更新</button>
    </form>

    <table border="1">
        <thead>
            <tr>
                {%for column in columns%}
                <th>{{column}}</th>
                {%endfor%}
            </tr>
        </thead>
        <tbody>
            {%for value in values%}
            <tr>
                {%for data in value%}
                <td>{{data}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <!-- {{columns}} -->
    <!-- {{values}} -->
    <script>
        setInterval(() => {
            $("#updateText").text("更新中...");
            location.reload();
        }, 3000);
    </script>
</body>

</html>